/*--- VARS ---*/
/* colors */
/* font */
/*--- TAGS ---*/
body {
  background-color: #CFCFCF;
  background-image: url("../images/tools.png");
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  word-spacing: 0.07em;
  line-height: 1.7em; }

section {
  padding: 30px 30px 0 30px;
  overflow: auto; }

h1 {
  margin: 0; }

/*--- RE-USABLE ELEMENTS ---*/
.btn,
.section-work .btn {
  background-color: #5A95D7;
  border-radius: 3px;
  border: 1px solid #5A95D7;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 110%; }

.uppercase {
  text-transform: uppercase; }

/*--- SECTIONS ---*/
.white-section {
  background-color: #fff; }

.darkblue-section {
  background-color: #384454;
  color: #fff; }

.section-intro {
  background-color: #F3F3F3;
  margin-top: 30px;
  padding-top: 0px; }
  .section-intro img {
    width: 70%; }
  .section-intro h1 {
    margin-top: 30px; }

.personal-info {
  margin-top: 20px;
  overflow: auto;
  font-size: 80%; }
  .personal-info span {
    display: block;
    line-height: 1.7em; }
  .personal-info .short-desc {
    margin-top: 7px; }

.short-intro span {
  display: block;
  padding-left: 10px; }

.short-intro i {
  padding-right: 10px;
  font-size: 120%;
  color: #5A95D7; }

.section-work span {
  display: block; }

.section-work i {
  padding-right: 10px;
  font-size: 120%;
  color: #5A95D7; }

.worktime {
  padding-left: 10px; }

.work-desc {
  padding-left: 30px; }

.education,
.experience {
  padding: 0; }

.skill {
  text-align: center;
  margin-bottom: 15px; }
  .skill .c100 {
    margin-bottom: 3px; }

.hands-on-exp-title {
  margin: 0 0 10px 10px; }
  .hands-on-exp-title i {
    padding-right: 10px;
    font-size: 150%;
    color: #5A95D7; }

.hands-on-exp li {
  margin-left: 20px; }

.section-skills img {
  margin: auto auto; }

.section-skills,
.section-contact {
  padding-bottom: 30px; }

.proj-thumb {
  height: 120px;
  overflow: hidden; }
  .proj-thumb img {
    margin: auto auto; }

.section-contact a {
  color: #fff; }
  .section-contact a:hover {
    color: #DC483C;
    text-decoration: none; }

.section-contact i {
  font-size: 150%;
  padding-right: 10px; }

.phone:hover {
  color: #5BC537; }

.email:hover {
  color: #DC483C; }

.skype:hover {
  color: #5A95D7; }

.copyright {
  padding-bottom: 25px; }
  .copyright p {
    text-align: center; }

/* http://jsfiddle.net/VuTYx/2/ */
