/*--- VARS ---*/
/* colors */
$light-grey: #F3F3F3
$dark-grey: #CFCFCF
$light-blue: #5A95D7
$dark-blue: #384454
$light-green: #5BC537
$red-gmail: #DC483C
	
/* font */
$base-font-size: 16px

/*--- TAGS ---*/
body
	background:
		color: $dark-grey
		image: url('../images/tools.png')
	font-family: 'Open Sans', sans-serif
	font-size: $base-font-size
	word-spacing: 0.07em
	line-height: 1.7em

section
	padding: 30px 30px 0 30px
	overflow: auto

h1
	margin: 0

/*--- RE-USABLE ELEMENTS ---*/
.btn,
.section-work .btn
	background-color: $light-blue
	border-radius: 3px
	border: 1px solid $light-blue
	color: #fff
	display: inline-block
	margin-bottom: 20px
	padding: 5px 10px
	font-size: 110%


.uppercase
	text-transform: uppercase


/*--- SECTIONS ---*/
.white-section 
	background-color: #fff

.darkblue-section 
	background-color: $dark-blue
	color: #fff

.section-intro
	background-color: $light-grey
	margin-top: 30px

.personal-info 
	margin-top: 20px
	overflow: auto
	font-size: 80%
	span
		display: block
		line-height: 1.7em
	.short-desc
		margin-top: 7px

.short-intro
	span
		display: block
		padding-left: 10px
	i
		padding-right: 10px
		font-size: 120%;
		color: $light-blue

.section-work
	span
		display: block
	i
		padding-right: 10px
		font-size: 120%	
		color: $light-blue
.worktime
	padding-left: 10px
.work-desc
	padding-left: 30px

.education,
.experience
	padding: 0	

.skill
	text-align: center
	margin-bottom: 15px
	.c100
		margin-bottom: 3px

.hands-on-exp-title
	margin: 0 0 10px 10px
	i
		padding-right: 10px
		font-size: 150%
		color: $light-blue
.hands-on-exp li
		margin-left: 20px

.section-skills 
	img
		margin: auto auto

.section-skills,
.section-contact
	padding-bottom: 30px

.proj-thumb
	height: 120px
	overflow: hidden
	img
		margin: auto auto
		
.section-contact
	a
		color: #fff
		&:hover
			color: $red-gmail
			text-decoration: none
	i
		font-size: 150%
		padding-right: 10px

.phone:hover
	color: $light-green

.email:hover
	color: $red-gmail

.skype:hover
	color: $light-blue
.copyright
	padding-bottom: 25px
	p
		text-align: center


/* http://jsfiddle.net/VuTYx/2/ */