/*  GRID OF THREE   ============================================================================= */

.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 32.26%; 
}

.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

.col {
	display: block;
	float: left;
	margin: 0 0 0.5% 0.5%;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
	overflow: auto;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, 
	.span_2_of_4, 
	.span_3_of_4, 
	.span_4_of_4 { 
		width: 100%; 
	}
}