/*--------------------------------------*/
/*BASIC SETUP*/
/*--------------------------------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

html, body {
	font-family: 'Open Sans', sans-serif;

}

.clearfix {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*--------------------------------------*/
/*RE-USEABLE COMPONENTS*/
/*--------------------------------------*/

/*-------heading--------*/
h1, 
h2, 
h3 {
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
}	

h1 {
	font-size: 2.5rem;
	word-spacing: 3px;	
	margin-bottom: 10px;
	letter-spacing: 1px;
}

h2 {
	font-size: 2rem;
	text-align: center;
	word-spacing: 1px;	
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h2:after {
	display: block;
	content: " ";
	height: 2px;
	background-color: #e75e22;
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
}

h3 {
	margin: 5px 0;
}

p {
	margin: 0px;
}

a {
	text-decoration: none;
}

/*-------paragraphes--------*/
.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

/*-------box--------*/
.box {
	padding: 1%;
}

.box p {
	font-size: 1rem;
	line-height: 145%;
}


/*-------icon---------*/
.icon-big {
	font-size: 3.5rem;
	display: block;
	color: #e75e22;
}

.icon-small {
	display: inline-block;
	width: 25px;
	text-align: center;
	color: #e75e22;
	font-size: 125%;

	/* to align the icon to the text*/
	line-height: 120%;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 10px;
}

/*-------buttons--------*/
.btn, input[type=submit] {
	display: inline-block;
	padding: 10px 25px;
	border-radius: 200px;
	text-decoration: none;
	font-weight: 300;
	margin: 10px 5px;
	transition: all 0.3s ease-out;
}

	.btn-full, input[type=submit] {
		border: 1px solid #e75e22;
		background: #e75e22;
		color: #fff;
	}

	.btn-full:hover, input[type=submit]:hover {
		background-color: #c14915;
		border-color: #c14915;
	}

	.btn-ghost {
		border: 1px solid #e75e22;
		color: #e75e22;
	}	

	.btn-ghost:hover {
		background: #e75e22;
		color: #fff;
	}

/*--------------------------------------*/
/*HEADER*/
/*--------------------------------------*/
header {
	color: #fff;
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(../assets/images/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

	.hero-text-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.hero-text-box a:link,
	.hero-text-box a:visited {
		color: #fff;
	}

.logo {
	height: 128px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}
	.main-nav li {
		display: inline-block;
		margin-left: 40px;
		padding: 8px 0;
		border-bottom: 2px solid transparent;
	}

	.main-nav li a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 300px;
		font-size: 1.1rem;
	}

	.main-nav li:hover {		
		border-bottom: 2px solid #e75e22;
		transition: all 0.3s ease-out;
	}

/*--------------------------------------*/
/* MEALS */
/*--------------------------------------*/

.favorite-meals {
	padding: 0;
}

.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	display: inline-block;
	float: left;
	width: 25%;
}

.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: all 0.3s ease-out;
}

.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.05);
}


/*--------------------------------------*/
/* HOW IT WORKS */
/*--------------------------------------*/

.section-steps {
	background-color: #f4f4f4;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}

.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}

.works-step:last-of-type {
	margin-bottom: 50px;
}

.app-screen {
width: 50%;
}

.works-step {
	margin-bottom: 50px;
}

.works-step div {
	color: #e75e22;
	border: 2px solid #e75e22;
	display: inline-block;
	border-radius: 50%;
	width: 54px;
	height: 54px;
	text-align: center;
	padding: 5px;
	float: left;
	font-size: 1.7rem;
	margin-right: 25px;
}

.btn-app img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}


/*--------------------------------------*/
/* CITIES */
/*--------------------------------------*/
.section-cities img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	border-radius: 2px;
}

	.city-feature {
		margin-bottom: 5px;
	}

	.city-feature a:link,
	.city-feature a:visited {
		color: #e75e22;
		border-bottom: 1px solid #e75e22;
		transition: all 0.2s ease-out;
	}

	.city-feature a:active,
	.city-feature a:hover {
		color: #555;
		border-bottom: 1px solid transparent;
	}

/*--------------------------------------*/
/* TESTIMONIALS*/
/*--------------------------------------*/
.section-testimonials {
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(../assets/images/testimonial-bg.jpg) 0 0 no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
}

.section-testimonials blockquote {
	font-style: italic;
	font-weight: 200;
	line-height: 145%;
	margin-top: 40px;
	padding: 2%;
	position: relative;
}

.section-testimonials blockquote:before {
	content: '\201C';
	display: block;
	font-size: 500%;
	left: -10px;
	position: absolute;
	top: -10px;
}

.section-testimonials cite {
	font-size: 90%;
	display: block;
}



.section-testimonials img {
	border-radius: 50%;
	height: 45px;
	margin-right: 10px;
	vertical-align: middle;
}

/*--------------------------------------*/
/* PLANS*/
/*--------------------------------------*/
.section-plans {
	background-color: #f4f4f4;
}
.plan-box {
	background-color: #fff;
	margin-left: 5%;
	width: 90%;
	box-shadow: 0 2px 2px #efefef;
}
.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child {
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}
.plan-box div:last-child {
	text-align: center;
	border: none;
}
.plan-price {
	color: #e67e22;
	font-size: 300%;
	font-weight: 300;
	margin-bottom: 10px;
}
.plan-price span {
	font-size: 50%;
	font-weight: 300;
}
.plan-box ul {
	list-style: none;
}
.plan-box ul li {
	padding: 5px 0;
}


/*--------------------------------------*/
/* CONTACT FORM*/
/*--------------------------------------*/
.contact-form {
	width: 60%;
	margin: 0 auto;
}

input[type=text], 
input[type=email],
select,
textarea {
	width: 100%;
	padding: 4px;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-bottom: 4px;
}

input[type=checkbox] {
	margin: 7px 10px 10px 0;
}

/*--------------------------------------*/
/* FOOTER*/
/*--------------------------------------*/
footer {
	background-color: #333;
	padding: 30px 0;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-icons {
	list-style: none;
	float: right;
}

.social-icons li {
	font-size: 140%;
}

.footer-nav li,
.social-icons li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
	margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
	text-decoration: none;
	color: #888;
	font-size: 100%;
	transition: color 0.4s ease-out;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
}

footer p {
	margin-top: 30px;
	color: #888;
	text-align: center;
	font-size: 90%;
}

.social-icons .ion-social-facebook:hover {
	color: #3b5999;
}

.social-icons .ion-social-twitter:hover {
	color: #55acee;
}

.social-icons .ion-social-googleplus:hover {
	color: #dd4b39;
}

.social-icons .ion-social-instagram:hover {
	color: #3f729b;
}

